.comment-section {
  overflow-y: auto;
  max-height: calc(100vh - 400px); /* Adjust the maximum height as desired */
}

.comment-form-container {
  margin-top: 20px;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding: 10px;
}
